@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #ffffff;
  --brand-red: #eb212e;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  background-attachment: fixed;
}

@layer utilities {
  .text-premium {
    @apply bg-gradient-to-br from-white via-white to-zinc-500 bg-clip-text text-transparent;
  }

  .bg-radial-vignette {
    background: radial-gradient(circle, transparent 20%, rgba(0, 0, 0, 0.95) 100%);
  }

  .glass-card {
    @apply bg-white/5 backdrop-blur-xl border border-white/10 shadow-2xl;
  }

  .bg-noise {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    mask-image: radial-gradient(circle at center, black, transparent);
  }

  .animate-pulse-slow {
    animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  @keyframes pulse {

    0%,
    100% {
      opacity: 0.1;
    }

    50% {
      opacity: 0.3;
    }
  }
}